body{
  font-family: Microsoft YaHei,Tahoma,Verdana,STHeiTi,simsun,sans-serif;
  font-size: 14;
  text-align: center;
  color: #303133;
}
.small-text {
  font-size: 12px;
}
.normal-title {
  font-size: 16px;
}

